html{
  scroll-behavior: smooth;
}




.logoFont{
    font-family: 'Hepta Slab', serif;
    border: 4px solid black;
    margin: 3px;
    padding: 5px;
}


.headerFont{
    font-family: 'Arvo', serif;
}


.addedGradient{
  position:relative;
  border-bottom: 9px #2d3436 solid; 
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
.jumbotronFont{
    font-family: 'Anton', sans-serif;
}
.fontColorJumbo{
    color: #ecf0f1;
}
.nameColor{
    color:#b71540;
}
.skills{
    font-family: 'Arvo', serif;

    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode:forwards; 
    -webkit-animation-fill-mode:forwards;
  
  
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { left:1800px; top:0px;}
    
    100% {left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   { left:1800px; top:0px;}
    
    100% {left:0px; top:0px;}
  }


  /*particular skill fonts*/
  .eachSkill{
    font-family: 'Exo 2', sans-serif;
  }

 /*social icons*/

 .middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btnSocial{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #00060a;
  overflow: hidden;
  position: relative;
}
.btnSocial i{
  line-height: 75px;
  font-size: 30px;
  transition: 0.2s linear;
}
.btnSocial:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btnSocial::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #00060a;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btnSocial:hover::before{
  animation: SocialIcons 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes SocialIcons {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

 /*alert for form submission*/

 .alert{
    color:#068139;
    display: none;
    border: 2px solid  #7ee29e;
    padding: 4px;
    margin: 8px;
    max-width: 400px;
    background-color: #7ee29e;
 }
 /*profile picture css*/
 .profile{
    max-width: 400px;
    max-height: 300px; 
    border-radius: ;
    margin-top: 20px;
    margin-bottom: 50px;
 }
 /*about me text*/
 .aboutMeText{
  font-family: 'Poppins', sans-serif;
  border: 2px solid black;
  margin-right: 20px;
  margin-top: 20px;
    padding: 7px;
  margin-bottom: 50px;
 }

 /*skill icon*/
 .skillicon{
   max-width:70px;
   max-height: 70px; 
 }
 .skillicon2{
   margin-top: 5px;
  max-width:55px;
  max-height: 70px; 
}
 /*footer text*/
 .quote{
  color:white;
  font-family: 'Hepta Slab', serif;
  font-size: 20px;
  text-align: center;
  
 }
 .quote.
 .footer01.author01{
  
  text-align: right;
  font-size: 15px;
  color:whitesmoke;
 }
 